/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/petalss.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
	
}


	  


.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(227, 239, 239, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px solid #9de7d7;
	border-radius: 10px;
}/*#fcaebb dark pink color #f7ced7 light pink color (247,206,215,1.00)*/

.centered {
	width: 800px;
	padding: 2%;
    margin: 100px auto;
 	 /*this uses opacity of 75% for the background color*/
	text-align: center;

}



/* #logo {
    margin-bottom: 10px;
	border: 3px solid #fcaebb;
	border-radius: 10px;
	text-align: center; 
} */

h1 {font-family: alga, serif;
	font-weight: 700;
	font-style: normal;

	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #f7ced7;
}

h2 { font-family: alga, serif;
	font-weight: 600;
	font-style: normal;
	text-align: center;

	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS
	 	font-family: alga, serif;
		font-weight: 300;
		font-style: normal;
		ALGA LIGHT
	*/
	font-size: 1.5em;
    line-height: 1.4;
    color: #fcaebb;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h3 { font-family: alga, serif;
	font-weight: 400;
	font-style: normal;

	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS
	 	font-family: alga, serif;
		font-weight: 300;
		font-style: normal;
		ALGA LIGHT
	*/
	font-size: 1.5em;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {font-family: alga, serif;
	font-weight: 300;
	font-style: normal;
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.2em;
    line-height: 1.6;
    color: rgb(160,82,45);
}
    
nav {font-family: alga, serif;
	font-weight: 400;
	font-style: normal;

	font-size: 1.2em;
	width: 500px;
	margin: 0 auto;
	border: solid #9de7d7;
		border-width: 4px 0;
		text-align: center;
		margin-top: 4em;
		


}
    

nav li {
	display: inline;

}

nav a {
	display: inline-block;
	padding: 13px;
	color: white;
	text-decoration: none;
	/* font-weight: bold; */

}

a:hover {
	color:black;
	background: #fcaebb;
}


*{ box-sizing: border-box;}

.img-container{
	float: left;
	width: 33.33%;
	padding: 10px;

}

.clearfix::after {

content:"";
clear: both;
display: table;



}

.clearfix {
	
	padding: 2%;
	border: solid #9de7d7;
	border-radius: 10px;
	padding-top: 20px;
	background-color: rgba(227, 239, 239, 0.90);
}

 .img-container img {
	border: 5px solid rgb(117, 116, 116);

 }

 .center img {
	border: 5px solid rgb(117, 116, 116);
 }